.container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    background-color: #999999;
    border: 3px solid orangered;
}

.block {
    background-color: #999999;
    padding: 20px;
    height: 45vh;
    border: 3px solid orangered;
}

.container h1 {
    font-size: 40px;
    padding-left: 40vh;
}

.block h2 {
    font-size: 20px;
    padding-left: 2vh;
}

.block ul {
    list-style: none;
    padding-left: 3vh;
}

.block ul li:nth-child(even) {
    color: red;
}

.block ul li::before {
    content: "•";
    margin-right: 5px;
}
